
// Tutti import
@import "partials/variables";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

// Estensione generali della pagina
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  // font-family: 'Montserrat', sans-serif;
}

i{
  color: $color-1;
  transition: all 0.4s ease-out 0s;
}

i:hover{
  color: $color-5;
  opacity: 1;
}
